body {
    display: flex;
    background-color: green;
}
fieldset {
    display: inline;
    height: fit-content;
    background-color: palevioletred;
    border: solid 1em;
    border-color: brown;
    top: 0;
    left: 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;
}
figcaption {
    font-weight: bold;
    text-align: center;
}
img {
    margin: auto;
    display: inline-block;
}
fieldset + fieldset {
    margin-left: 5px;
}
.text {
    position: relative;
    height: auto;
    max-width: 250px;
    float: left;
    word-wrap: break-word;

}